body{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#Calculator{
    font-family:  Arial, sans-serif;
    background-color: rgba(46, 6, 6, 0.788);
    border-radius: 15px;
    overflow: hidden;
    max-width: 500px;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: hsla(0, 0%, 30%, 0.8);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
 
button:hover{
    background-color: rgba(214, 214, 214, 0.288)
}

.operator-btn{
    background-color: rgb(212, 138, 2);
}

.operator-btn:hover{
    background-color: rgb(224, 146, 0);
}